<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
   <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Book Store</title>
   <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
   <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <style type="text/tailwindcss">
  
  </style>
   
  </head>
  <body >
   
   
   <div class="flex flex-wrap place-items-center h-auto">
	<section class="relative mx-auto w-full">
		<!-- navbar -->
		<nav class="flex justify-between bg-gray-900 text-white w-full">
			<div class="px-5 xl:px-12 py-6 flex w-full items-center">
				<a class="text-3xl font-bold font-heading" href="/">
					<!-- <img class="h-9" src="logo.png" alt="logo"> -->
					Igme Store
				</a>
				<!-- Nav Links -->
				<ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
					 <li><a class="hover:text-gray-200" aria-current="page" href="/dashboard">Inicio</a></li>
          <li><a class="hover:text-gray-200" href="available_books">Libros Disponibles</a></li>
          <li><a class="hover:text-gray-200" href="my_books">Mis libros</a></li>
          <li th:if="${isAdmin}"><a class="hover:text-gray-200" href="book_register">Registrar Libro</a></li>
          <li th:if="${isAdmin}"><a class="hover:text-gray-200" href="listado_libros">Listado</a></li>
				</ul>
				<!-- Header Icons -->
				<div class="hidden xl:flex items-center space-x-5 items-center">
					<a class="hover:text-gray-200" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
						</svg>
					</a>
					<a class="flex items-center hover:text-gray-200" href="my_books">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
							/>
						</svg>
						<span class="flex absolute -mt-5 ml-4">
							<span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
							<span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"> </span>
						</span>
					</a>
					<!-- Sign In / Register      -->
					<a class="flex items-center hover:text-gray-200" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
						</svg>
						<div th:text ="*{userDetails}" class="font-semibold text-white-700">Articles</div>
					</a>
				</div>
			</div>
			<!-- Responsive navbar -->
			<a class="xl:hidden flex mr-6 items-center" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
					/>
				</svg>
				<span class="flex absolute -mt-5 ml-4">
					<span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
					<span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500"> </span>
				</span>
			</a>
			<a class="navbar-burger self-center mr-12 xl:hidden" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
				</svg>
			</a>
			  <div class="hidden xl:flex items-center space-x-5 items-center mr-6">
		   <div class="hidden sm:flex sm:items-center">
		  <a th:href="@{/logout}" class="text-white-800 text-sm font-semibold border px-2 py-1 rounded-lg hover:text-purple-600 hover:border-purple-600">Salir</a>
	 	 </div>
	   </div>
		</nav>
	</section>
</div>

<!--

  <div class="container my-5 col-md-8">
  		<table class="table  table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="b :${book}">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td> 
      <td><a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add To Mybook</a> 
      <a style="color:blue" th:href="@{/editBook/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
      <a style="color:red" th:href="@{/deleteBook/{id}(id=${b.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
      </td> 
      
    </tr>
   
  </tbody>
</table>
  </div>
   
   -->
   
   
   
   
<div class="bg-gray-100">
	<div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
		<h2 class="text-2xl font-bold tracking-tight text-gray-900">Total Libros <script> document.write(new Date().getDate())</script></h2>

		<div  class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
			<div th:each="b :${book}" class="group relative">
				<div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
					<img th:src="@{${b.image}}" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
				</div>
				<div class="mt-4 flex justify-between">
					<div>
						<h3 class="text-sm text-gray-700">
							<a th:text="${b.name}" href="#">
								<span  aria-hidden="true" class="absolute inset-0"></span>
								
							</a>
						</h3>
						<p th:text="${b.author}" class="mt-1 text-sm text-gray-500"></p>
					</div>
					<p th:text="${b.price}" class="text-sm font-medium text-gray-900"></p>
				</div>
				 <div class="flex justify-center">
			     <a class="inline-block px-4 py-2 bg-blue-500 text-white rounded-md w-full text-center mt-6" th:href="@{/mylist/{id}(id=${b.id})}">Añadir a mi libros</a>
			    </div>
			</div>
			
			

			<!-- More products... -->
		</div>
	</div>
</div>

   
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    
    
  </body>
</html>